a:hover {
	color:red;
}

html {
	background-color: #003366;
	filter: brightness(85%);
}
body {
  width: 60%;
  margin: 0 auto;
  background-color: #33cccc;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
	height: 500;
	width: 700;
	object-fit: contain;
}
h1.headline{
	text-align: center;
	font-family: "Courier New";
	background-color: #00000;
	color: #FFFFF;
	
}
h3.headlines{
	text-align: center;
	font-family: "Courier New";
	background-color: black;
	color: white;
}
h4.headlines{
	text-align: center;
	font-family: "Courier New";
	background-color: black;
	color: white;
}
div.headline {
	border: solid;
	border-color: black;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
}
h1 {
	text-align: center;
	font-family: "Gothic A1";
	color: #FFFFF;
}
h4 {
	text-align: center;
	/*font-family: "Courier New";*/
}
p {
	font-family: "Verdana";
}
p.center {
	text-align: center;
}
p.quote {
	font-style: oblique;
	text-align: center;
}
p.quote:before {
	content:'"'
}
p.quote:after {
	content:'"'
}
ol {
  counter-reset: section;                /* Erstellt mit jedem ol Element
                                            eine neue Instanz des
                                            Abschnittszählers. */
  list-style-type: none;
}
li::before {
  counter-increment: section;            /* Inkrementiert nur diese Instanz
                                            des Abschnittszählers. */
  content: counters(section,".") ". ";    /* Fügt den Wert aller Instanzen
                                            des Abschnittszählers durch "."
                                            getrennt hinzu. */
                                         /* Falls < IE8 unterstützt werden soll,
                                            sollte sichergestellt werden, dass
                                            kein Leerzeichen nach dem ',' steht. */
											/*Copied from developer.mozilla.org*/
}
iframe.menu {
	border:none;
	display: block;
	position: fixed;
	width: 19%;
	height: 100%;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
}
div.textblock {
	border: solid;
	border-color: black;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	background-color: #ff9900;
}
div.textblock-child {
	border: solid;
	border-color: black;
	padding-left: 2.5px;
	margin-top: 2.5px;
	margin-bottom: 5px;
	background-color: #ff9900;
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 98%;
	//float: left;
}
